# Homeassistant files and folders
.HA_VERSION
.cloud
.spotify-token-cache
.storage/*
*zw*
OZW*
*.log
*.db
node-red
options.xml
*.sqlite
tts/*
*.xml

# Sensitive YAML files
ip_bans.yaml
secrets.yaml
known_devices.yaml
