# Homeassistant files and folders
.HA_VERSION
.cloud
.spotify-token-cache
.storage/*
*zw*
OZW*
*.log
*.db
node-red
options.xml
*.sqlite
tts/*
*.xml
certs
blueprints

# HACS
custom_components/hacs/*

# Noisey files
*.log.*
*.db-*

# Sensitive YAML files
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Sensitive JSON files
google_service_account.json

# All tileboard code, except custom config file
www/tileboard/*
!www/tileboard/config.js
